<!DOCTYPE html>
<html lang="en-US" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="images/x-icon" href="~/images/favicon.jpg">

    <link rel="stylesheet" href="~/css/_Layout.css">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css">
    <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
</head>



<header>
    <nav class="navbar navbar-expand navbar-dark base-navbar">
        <div class="container-fluid">            
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="navbar-brand" href="~/Home/Index">MyApp</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Thing 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Thing 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Thing 3</a>
                </li>

                @{
                    String[] navItems = ViewData["navItems"] as String[] ?? new String[0];
                }
                @for(int navIdx = 0; navIdx < navItems.Length; navIdx++) {
                    <li class="nav-item">
                        @* <a class="nav-link">@(((String[])ViewData["navItems"])[navIdx])</a> *@
                        <a class="nav-link">@navItems[navIdx]</a>
                    </li>
                }
            </ul>
        </div>
    </nav>
</header>


<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 main-content-panel yellow-border">
                @RenderBody()
            </div>

            <div class="col-6 main-content-panel yellow-border">
                <h1 style="color: crimson">Placeholder</h1>
            </div>
        </div>
    </div>
</body>


<footer>
    <div class="container-fluid base-footer">

    </div>
</footer>


